#about{
    background: var(--color-ui-secondary);
}


#about .container{
    display: grid;
    grid-template-columns: 400px auto;
    gap: 30px;
}


#about .company__photo{
    border-radius: var(--radius-2);
    overflow: hidden;
    max-width: 400px;
    margin: auto;
}


#about .company__photo:hover img{
    transform: scale(1.2);
}

#about .sub__title{
    margin: 10px 0;
}



#about .group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 20px 0;
}



#about .group .row{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 10px;
    background: var(--color-ui-primary);
    border-radius: var(--radius-2);
    transition: var(--transition);
}


#about .group .row:hover{
    background: var(--color-ui-variant);
}


#about .group .row .icon__container{
    background: transparent;
}

#about .group .row .icon__container{
    transform: scale(1.2);
}

#about .company__media__container{
    display: flex;
    justify-content: center;
    gap:20px;
    margin: 20px 0;
}

#about .company__media__container .box{
    width: 120px;
    height: 120px;
    border-radius: var(--radius-3);
    overflow: hidden;
}


#about .company__media__container  .box:hover img{
 transform: scale(1.2);
}



#about .buttons__container{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}




@media (max-width:900px){
#about .container{
    grid-template-columns: 100%;
}




#about .title,
#about .sub__title,
#about .description{
text-align: center;
}



#about .buttons__container{
    justify-content: center;
    gap: 10px;
}

#about .group .row .icon__container{
    width: 1.5rem;
    height: 1.5rem;
}

}





@media(max-width:600px){
    #about .company__media__container .box{
        width: 90px;
        height: 90px;
    }
}